
<div class="container">
    <h1>Update Post</h1>
    
    <a href="#" routerLink="/contact" class="btn btn-primary">Back</a>
           
    <form [formGroup]="register" (ngSubmit)="save()">
     
        <div class="form-group">
            <label for="name">Name</label>
            <input
                formControlName="name"
                id="name"
                type="text"
                [(ngModel)]="editdata.name"
                class="form-control">
            <!-- <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors && f['name'].errors['required']">Title is required.</div>
            </div> -->
        </div>
            
        <div class="form-group">
            <label for="logoUrl">LogoUrl</label>
            <input
                formControlName="logoUrl"
                id="logoUrl"
                type="text"
                [(ngModel)]="editdata.logoUrl"
                class="form-control">
        
            <!-- <div *ngIf="f['logoUrl'].touched && f['logoUrl'].invalid" class="alert alert-danger">
                <div *ngIf="f['logoUrl'].errors && f['logoUrl'].errors['required']">Title is required.</div>
            </div> -->
        </div>

        <div class="form-group">
                <label for="description">Description</label>
                <textarea
                    formControlName="description"
                    id="description"
                    type="text"
                    [(ngModel)]="editdata.description"
                    class="form-control">
                </textarea>
                <!-- <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                    <div *ngIf="f['description'].errors && f['description'].errors['required']">Body is required.</div>
                </div> -->
        </div>
          
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>