 <ng-container *ngIf="brandData">
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>logoUrl</th>
                    <th>name</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Products of brandData">
                    <td>{{Products.id}}</td>
                    <td>{{Products.logoUrl}}</td>
                    <td>{{Products.name}}</td>
                    <td>{{Products.description}}</td>
                </tr>
            </tbody>
        </table>
</ng-container>      