body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  

div.content {
    color: aliceblue; 
  }
  
  @media screen and (max-width: 700px) {
    div.content {margin-left: 0;}
  }
.tb1{
  border: 1px solid #c8ced3;
  border-radius: 8px;
  background-color: #ffffff;
}
#rt{
  border-bottom: 1px solid #c8ced3;
  background-color: #f0f3f5;
  border-radius: 8px 8px 0px 0px;
}
/* .content{
  background-color: #e4e5e6;
} */
.table th ,td{
   border: 1px solid rgb(212, 210, 210);
   padding: 8px;
   
}
