<div class="container">
    <h1>View Post</h1>
   
    <a href="#" routerLink="/contact" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ products.id }}</p>
    </div>

    <div>
        <strong>Name:</strong>
        <p>{{ products.name }}</p>
    </div>
    
    <div>
        <strong>Logo:</strong>
        <p>{{ products.logoUrl }}</p>
    </div>
    
    <div>
        <strong>Description:</strong>
        <p>{{ products.description }}</p>
    </div>
    
</div>