<div class="container" >
    <h1>View Post</h1>
   
    <a href="#" routerLink="/contact" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ editdata.id }}</p>
    </div>

    <div>
        <strong>Name:</strong>
        <p>{{ editdata.name }}</p>
    </div>
    
    <div>
        <strong>Logo:</strong>
        <p>{{ editdata.logoUrl }}</p>
    </div>
    
    <div>
        <strong>Description:</strong>
        <p>{{ editdata.description }}</p>
    </div>
    
</div>